
<!--<md-input placeholder="amount" align="end">
  <span md-prefix>$&nbsp;</span>
  <span md-suffix>.00</span>
</md-input>-->

<md-card>
    <div class="login jumbotron center-block">
        <h1>Login</h1>
        <form role="form" (submit)="login(username.value, password.value)">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" #username class="form-control" id="username" placeholder="Username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" #password class="form-control" id="password" placeholder="Password">
            </div>
            <button type="submit" class="btn btn-default">Submit</button>
            <a href="/signup">Click here to Signup</a>
        </form>
    </div>
</md-card>