<md-card class="card-login">
    <md-toolbar color="primary">Login</md-toolbar>
    <div class="card-login__progress-bar-container" *ngIf="isLoading">
        <md-progress-bar mode="query"></md-progress-bar>
    </div>
    <md-card-content class="card-login__content" [ngClass]="{'card-login__loading': isLoading}">
        <form role="form" (submit)="login($event, username.value, password.value)">
            <section class="form-group">
                <md-input id="username" #username class="md-input__full-width" placeholder="E-mail" type="email" novalidate></md-input>
                <md-input id="password" #password class="md-input__full-width" placeholder="Password" type="password"></md-input>
            </section>
            <section class="clearfix">
                <button type="submit" md-raised-button color="primary" class="pull-left">Log in</button>
                <button md-raised-button color="primary" class="pull-right" disabled>Sign up</button>
            </section>
        </form>
    </md-card-content>
</md-card>
