@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

body {
    background: #F1F1F1;
    color: #fff;
    margin: 0;
    padding: 0;
}
a {
    color: #03A9F4;
}
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
}
