:host {
    display: block;
    width: 90%;
	max-width: 1060px;
	margin: 0 auto;
	position: relative;
	padding: 0 30px 50px 30px;
}

.bookshelf {
	width: 100%;
	height: 63px;
	z-index: -1;
	margin-top: -25px;
	background: transparent url(http://tympanus.net/Development/3DBookShowcase/images/shelf.png) no-repeat center center;
	position: relative;
}

.bk-list {
	list-style: none;
	position: relative;
	width: 533px; /* 13 books * 40px + 13 books * margin (1px) */
	margin: 0 auto;
    padding: 0;
	-webkit-perspective: 1800px;
	perspective: 1800px;
	-webkit-perspective-origin: 50% 15%;
	perspective-origin: 50% 15%;
}

.bk-list li {
	position: relative;
	width: 40px;
	height: 400px;
	float: left;
	z-index: 1;
	margin: 0px 0px 0px 1px;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.bk-list li:last-child {
	margin-right: 0;
}
